.card {
    width: 33%;
    height:350px;
    background: linear-gradient(to bottom, olivedrab, 10%, white );
    margin: 20px;    
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 10px;
}

.card-header img {
    width: 200px;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

#card-info li {
    list-style-type: none;
    font-size: 18px;
}

@media only screen and (max-width: 640px) {
    .card {
        width: 100%;
    }
}